<div class="centered-gallery">
  <div class="gallery">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">

          <ul class="glide__slides">
            <% @new_images.each_with_index do |img, index| %>
              <li class="glide__slide">
                  <div class="img-box">
                      <a class="img-a-tag" href="<%= asset_path(img) %>" data-lightbox="newspaper">
                          <%= image_tag asset_path(img), class: "front-page-img pages #{'img-hidden' if index != 0}" %>
                      </a>
                  </div>
              </li>
          <% end %>
          </ul>
      </div>
      <div class="glide__arrows buttons img-hidden" data-glide-el="controls" data-correct-or-not-target="buttons">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">" data-correct-or-not-target="next">next</button>
      </div>
        </div>
    </div>
  </div>
</div>
