<div class="main-page">
  <div class="main-title">
    <h1>NewsGuesser</h1>
    <p>Guess the year of the newspaper! An incorrect answer will reveal another page.</p>
    <p>Click to zoom!</p>
  </div>

  <div data-controller="correct-or-not" class="centered-gallery">

      <div>
        <%= render "carousel" %>
      </div>

      <div class="answer-container">
        <h3 class="answer" data-correct-or-not-target="answer">
        </h3>
      </div>

      <div class="squares-container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>

      <div class="form-container">
        <%= render "form", user_guess: @user_guess %>
       
      </div>

  </div>
</div>
