<div class="container">
  <div class="main-title">
    <h1>NewsGuessr</h1>
    <p>Guess the year of the newspaper! An incorrect answer will reveal another page.</p>
    <p>Click to zoom!</p>
  </div>

  <div data-controller="correct-or-not">
    <div data-controller="img-zoom">
      <%= render "carousel" %>
    </div>

      <h3 class="answer" data-correct-or-not-target="answer">
      </h3>
      <div class="squares-container">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
      </div>
    <%= render "form", user_guess: @user_guess %>

  </div>
</div>
