<div class="header">
  <h1>NewsGuessr</h1>
</div>

<div>
  <%= image_tag "Evening_Standard_Mon__Mar_22__1937_.jpg", class: "front-page-img", data: { onclick: "toggleSize()" } %>
</div>

<div class="date-form">
  <%= simple_form_for @user_guess, url: user_guess_index_path, method: :post do |f| %>
    <%= f.input :date, as: :date, label: "Start Date", include_date: [:day, :month, :year] %>
    <%= f.button :submit, "Submit guess" %>
  <% end %>
</div>
