.date-form {
  margin: 0 auto;
  width: 40%;
  justify-content: center;
  padding-top: 3vh;
  padding-bottom: 20px;

  .btn {
    margin: 0 auto;
    display: block;
    outline: solid cornsilk 1px;
    color: cornsilk;
  }
}

.date-form .form-label,
.date-form .form-select,
.date-form .form-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cornsilk;
}
