
// .img-hidden {
//   visibility: hidden;
// }

.gallery {
  max-width: 300px;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: 1fr;
  // grid-template-rows: 1fr;
}

.centered-gallery {
  display: flex;
  flex-direction: column;
}

.front-page-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 100%;
}

// @media(max-width: 992px) {
//   .front-page-img {
//     width: 40%;
//   }
// }

// @media(max-width: 768px) {
//   .front-page-img {
//     width: 50%;
//   }
// }

// .front-page-img:hover {opacity: 0.7;}

// @-webkit-keyframes zoom {
//   from {-webkit-transform:scale(1)}
//   to {-webkit-transform:scale(2)}
// }

// @keyframes zoom {
//   from {transform:scale(0.4)}
//   to {transform:scale(1)}
// }

// @-webkit-keyframes zoom-out {
//   from {transform:scale(1)}
//   to {transform:scale(0)}
// }
// @keyframes zoom-out {
//   from {transform:scale(1)}
//   to {transform:scale(0)}
// }

// .out {
//   animation-name: zoom-out;
//   animation-duration: 0.6s;
// }

// /* 100% Image Width on Smaller Screens */
// @media only screen and (max-width: 700px){
//   .modal-content {
//       width: 100%;
//   }
// }

// .pinch-zoom {
//   touch-action: manipulation;
// }
