.img-hidden {
  display: none;
}

.img-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.img-a-tag {
  display: flex;
  justify-content: center;
}

.gallery {
  // width: 500px;
  width: 20%;
  margin: 0 auto;
}

.centered-gallery {
  display: flex;
  flex-direction: column;
}

.front-page-img {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  max-width: 80%;
}

@media(max-width: 992px) {

  .gallery {
    width: 100%;
  }
  .front-page-img {
    width: 40%;
  }

  .glide__arrow--left {
    margin-left: -5vw !important;
  }

  .glide__arrow--right {
    margin-right: -5vw !important;
  }
}

@media(max-width: 768px) {

  .gallery {
    width: 100%;
  }

  .front-page-img {
    width: 35%;
  }

  .glide__arrow--left {
    margin-left: -5vw !important;
  }

  .glide__arrow--right {
    margin-right: -5vw !important;
  }

}
