.squares-container {

  text-align: center;
  margin: 0 auto;

}

.square {
  display: inline-block;
  width: 1.75vw;
  height: 1.75vw;
  min-height: 20px;
  min-width: 20px;
  border: 0.8px solid cornsilk;
  margin: 0 0.04vw;
  border-radius: 5px;
}

.green-square {
  background-color: #0EAD69;
}

.red-square {
  background-color: #EE4266;
}
